.logo-header
  %a{:href => root_path}
    = image_tag('JM-logo-web.png')
.links
  .link= link_to 'Resume', resume_path
  .link= link_to 'About', about_path
  .link= link_to 'Screencasts', screencasts_path
  .link= link_to 'Home', root_path

.rule
  %hr/
